<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h2>{{ .Site.Title }}'s blog</h2></a>
      <p class="lead">Tech, strategy, humans, information, marketing & mind.</p>
      <p class="lead">More about me <a href="https://davideberretta.com">here</a>. Get posts via email <a href="http://fleisure.us6.list-manage2.com/subscribe?u=1b57ff432660d827a9445f307&id=db415544cc">here</a>.</p>
      <p>On <a href="https://twitter.com/daveeday">Twitter</a>, <a href="https://instagram.com/daveeday">Instagram</a>, <a href="https://linkedin.com/in/daveeday">Linkedin</a>, <a href="https://clarity.fm/davideb">Clarity.fm</a></p>            
    </div>

    <ul class="sidebar-nav">
      <li><a href="/">Home</a> </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{end}}
    </ul>

    <p style="font-size:70%">© Davide Berretta 2017. All rights reserved.</p>
  </div>
</div>
