<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h2>{{ .Site.Title }}'s blog</h2></a>
      <p class="lead">Tech, marketing, strategy, information & mind</p>
      <p><a href="https://twitter.com/daveeday">on Twitter</a></p>
      <p><a href="https://instagram.com/daveeday">on Instagram</a></p>
      <p><a href="https://linkedin.com/in/daveeday">on Linkedin</a></p>
      <p><a href="https://clarity.fm/davideb">on Clarity</a></p>            
    </div>

    <ul class="sidebar-nav">
      <li><a href="/">Home</a> </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{end}}
    </ul>

    <p>© Davide Berretta 2017. All rights reserved.</p>
  </div>
</div>
