<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h2>{{ .Site.Title }}'s blog</h2></a>
      <p class="lead">Tech, strategy, information, marketing & mind. More about me <a href="https://davideberretta.com">here</a>. Get posts via email <a href="http://fleisure.us6.list-manage2.com/subscribe?u=1b57ff432660d827a9445f307&id=db415544cc">here</a>.</p>
      <p><a href="https://twitter.com/daveeday">on Twitter</a></p>
      <p><a href="https://instagram.com/daveeday">on Instagram</a></p>
      <p><a href="https://linkedin.com/in/daveeday">on Linkedin</a></p>
      <p><a href="https://clarity.fm/davideb">on Clarity.fm</a></p>            
    </div>

    <ul class="sidebar-nav">
      <li><a href="/">Home</a> </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{end}}
    </ul>

    <p style="font-size:70%">© Davide Berretta 2017. All rights reserved.</p>
  </div>
</div>
